<!DOCTYPE html>
<html>
<head>
    <title>MySQL Data</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Department</th>
                <th>Course </th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.dept }}</td>
                <td>{{ row.course }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
